body,
html {
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bingo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 90vmin;
  max-width: 500px;
}

.bingo-cell {
  aspect-ratio: 1 / 1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 80%;
}

.marked {
  background-color: #28a745;
  color: white;
}

#reader {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.bingo-message {
  text-align: center;
  max-width: 80vw;
  font-size: 14px;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.bingo_id {
  font-size: 24px;
}


@media only screen and (max-width: 600px) {
  .bingo-message {
    max-width: 90vw;
  }
}